.not_found {
    position: relative;
    overflow: hidden;
}

.not_found h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: white;
    font-size: 36px;
}